/* Grundlegende Stile für das Layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body Hintergrund und Schriftfarbe für Dark Mode */
body {
    background-color: #121212;
    color: #fff;
}

/* Schatten und Hover für Karten */
.MuiCard-root {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.MuiCard-root:hover {
    transform: scale(1.03);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

/* Hover-Effekt für CTA-Button */
button.MuiButton-containedPrimary:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Hover-Effekt für Social Media Icons */
.MuiIconButton-root:hover {
    color: #007bff;
    transform: scale(1.2);
}